.navbar {
  background-color: #024873; // A deep blue for a winter theme
  display: flex;
  justify-content: space-between; // Ensures the logo and links are at the edges of the navbar
  align-items: center;
  padding: 0 20px;
  height: 60px;
  position: fixed; // Keeps the navbar at the top of the page
  top: 0;
  left: 0;
  width: 100%; // Spans the full width
  z-index: 1000;
  box-sizing: border-box;

  .logo {
    a {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      color: #fff;
      text-decoration: none;

      &:hover {
        color: #e1e1e1;
      }

      img {
        height: 40px; // Adjust the height as needed
        margin-right: 10px; // Space between the logo image and text (if any)
      }
    }
  }

  .nav-links {
    display: flex;
    align-items: center; // Ensures vertical alignment of links
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-left: 20px; // Spacing between links
      position: relative;

      a, button {
        color: #ffffff;
        text-decoration: none;
        font-size: 1.1rem;
        background: none;
        border: none;
        cursor: pointer;

        &:hover {
          color: #a8c0ff;
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 10px 0;

    .logo {
      a {
        margin-bottom: 10px;
      }
    }

    .nav-links {
      flex-direction: column;
      align-items: center; // Centers items when in column layout

      li {
        margin: 10px 0; // Vertical spacing between links in mobile view
      }
    }
  }
}
